body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.7;
	color: $color-grey-dark;

	padding: 3rem;
	scroll-behavior: smooth;

	transition: all 0.5s;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;

	backface-visibility: hidden;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
		animation: moveInLeft 1s linear;
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.74rem;
		animation: moveInRight 1s linear;

		margin-bottom: 6rem;
	}
}

.heading-secondary {
	display: inline-block;

	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2rem;

	background-image: linear-gradient(
		to right,
		$color-primary-light,
		$color-primary-dark
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;

	transition: all 0.25s;

	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($color: $color-black, $alpha: 0.2);
	}
}

.heading-tertiary {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: 1.6rem;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
